:root {
    --primary-color: #e9e4fa;
    --secondary-color: #695f8c;
    --tertiary-color: #af9be0;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif
  }
  
  /* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35px 10px 0px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 20px;
    font-weight: bold;
    font-size: 36px;
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration-line: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 20%;
  }
  
  header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */

  /* HERO STYLES START */
.hero {
    width: 100vw;
    height: 40vh;
    background-image: url('../images/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    position: relative;
  }
  
  .hero-cta h2 {
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 28px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 10px;
    margin: 2%;
    width: 40%;
    flex-wrap: wrap;
    text-align: center;
  }
  
  /* HERO STYLES END */

  /* body styles, about me styles START */

  .portfolio .section { 
    background: rgb(236, 236, 236);
  }
  
  .content {
    margin: 20px auto;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
  }
  
  
  .content h3 {
    color: var(--secondary-color);
    font-size: 42px;
    flex: 1 20%;
    text-align: right;
    padding: 0px 15px 0px 0px;
  }
  
  .content-info  {
    flex: 2 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 3px solid var(--secondary-color);
    padding: 10px 10px 0px 20px;
  }
  
  .content-img img {
    float: right;
    margin: 0px 0px 15px 15px;
    border-radius: 50px;
  }
  
  .content-text {
    flex: 12;
  }
  
  .content-text p {
    color: var(--secondary-color);
    font-size: 18px;
  }
  
   /* body styles, about me styles END */

   /* WORK START */
.work-child1 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .child1 {
    flex: 1;
    position: relative;
  }
  
  .child1 img {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid var(--secondary-color);
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
  
  .child1 img:hover {
      opacity: 1;
      filter: alpha(opacity=100);
    }
  
  .work-child2 {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .child2 {
    margin: 10px;
    flex: 2;
    position: relative;
  }
  
  .child2 img {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid var(--secondary-color);
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
  
  .child2 img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .work-child3 {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .text-block {
    position: absolute;
    bottom: 20px;
    left: 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
  }
  
  .text-block h4 {
  font-size: 1.55vw;
  line-height: 1.6;
  }
  .text-block h5 {
  font-weight: lighter;
  }
  
  
  /* WORK END */

  /* CONTACT ME START */

.contact-me-list ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }
  
  .contact-me-list ul li a {
    padding: 10px;
    font-weight: bold;
    font-size: 1.55vw;
    color: var(--secondary-color);
    text-decoration-line: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 20%;
  }
  
  /* CONTACT ME END */
  
  /* UTILITIES */
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  